
* {
	font-family: Helvetica;
}

section {
	background-color: #d2d2d2;
	padding-left: 10px;
	padding-right: 10px;
}

@media screen and (min-width: 640px) {
	
	.wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	main {
		grid-column: 1/3;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2em;
	}

	header {
		grid-column: 1/3;
	}

	.skyline {
		height: 300px;
		background-image: url("shanghai640x300.png");
	}

	section {
		margin: 2vw;
		padding: 2vw;
	}

}

@media screen and (min-width: 840px) {
	
	.wrapper {
		grid-template-columns: 1fr;
	}

	.skyline {
		height: 400px;
		background-image: url("manhattan840x400.png");
	}

	section:nth-child(odd) {
		border: none;
	}

}

@media screen and (min-width: 1200px) {

	.wrapper {
		grid-template-columns: 1fr 1fr 1fr;
	}

	header {
		grid-column: 1/4;
	}

	main {
		grid-column: 1/4;
		grid-template-columns: 1fr 1fr 1fr;
	}

	aside {
		grid-column: 1/2;
	}

	.skyline {
		background-image: url("vancouver1200x300.png");
		grid-column: 1/4;
	}

	footer {
		grid-column: 2/4;
	}

}

.breder {
	grid-column: span 2;
}

#validatie {
	height: 1em;
    width: auto;
    border: 0;
    margin: 0 .3em;
    padding-left: 10px;
}
